body {
  background-color: #3F51B5;
  color: white;
}

h3 {
  margin: 12px 0px;
  font-size: 32px;
}

.App {
  text-align: center;
  color: #c5cae9;
}

nav .brand-logo {
  color: #c5cae9;
}

.Nav .nav-wrapper {
  background-color: #303F9F;
}

.Players .locked-dice {
  background-color: #303F9F;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  min-height: 70px;
}

.locked-dice .Die {
  left: 0px !important;
}

.locked-dice .Die span {
  color: #dadada;
}

.Players .turn-icon {
  padding-left: 20px;
}

.Players .has-turn {
  font-weight: bold;
  color: #ffc107;
  transition: .8s;
}

.GameBoard .diceArea {
  border: 5px solid #303F9F;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  min-height: 40vh;
}

.GameBoard .gameboard-btn {
  background-color: transparent;
  margin: 8px;
}

.dice-btn {
  width: 55px;
  height: 55px;
  --button-primary-color: #ff8f00;
  --button-primary-color-dark: #ff6f00;
  --button-primary-color-light: white;
  --button-primary-color-hover: #ffc107;
  --button-primary-color-active: #ffc107;
}

.GameBoard .gameboard-btn {
  --button-primary-color: #ff8f00;
  --button-primary-color-dark: #ff6f00;
  --button-primary-color-light: white;
  --button-primary-color-hover: #ffc107;
  --button-primary-color-active: #ffc107;
}

.PhysicsBox #physics-container canvas {
  width: 100%;
  height: auto;
  background-color: transparent !important;
  border: 5px solid #303F9F;
  border-radius: 20px;
  padding: 10px;
}

.Die {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: #C5CAE9;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: .2s all ease-out;
}

.Die:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .3);
  z-index: 2;
  transition: .6s;
}

.rolled {
  position: relative;
  display: block;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.SideNav {
  width: 450px;
}

.SideNav li a {
  color: #303F9F;
}

.SideNav .side-nav-text {
  padding: 0px 54px;
}

.SideNav .side-nav-text p {
  color: black;
  text-align: left;
  margin: 0px;
}

.SideNav .side-nav-text a {
  color: #303F9F;
  padding: 0px 4px;
  display: inline-block;
}

.no-margin {
  margin: 0px;
}
